body{
    margin: 0;
    padding: 0;
}

.grid{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100% 100% 100%; 
    grid-template-rows: 10vh auto 20vh;
    grid-template-areas:
        "cab"
        "pag"
        "rod";
}

header{
    grid-area: cab;
    width: 100%;
    height: 100%;
    background-color: #9EFF8E;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.logo{
    height: 10vh;
}

.logo-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo-a img{
    height: 10vh;
}

.menu-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-button{
    padding: 0 3vw 0 3vw;
}

.nav-link{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #000;
    text-decoration: none;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

section{
    grid-area: pag;
    background-color: #D2FFD1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    grid-area: rod;
    background-color: #389A48;
}

.contato{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 0 8vw;
}

.rod-txt{
    width: 9vw;
    margin: 0 1vw 0 0;
}

.rod-txt p{
    font-size: 28px;
    font-family: "Inter", sans-serif;
    color: #FFF;
}

.rod-img{
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rs{
    width: 60px;
    height: 60px;
    border-radius: 40%;
    background-color: #9EFF8E;
}