
body, html{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
}

.grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100% 100% 100%; 
    grid-template-rows: 60px auto auto;
    grid-template-areas:
        "cab"
        "pag"
        "rod";
}

header{
    grid-area: cab;
    background-color: #077d45d1;
}

section{
    grid-area: pag;
    background-color: #D2FFD1;
    font-family: sans-serif;
}

footer{
    grid-area: rod;
    background-color: #389A48;
}

.logo {
    max-width: 10vw;
    margin-left: 1vw;
    padding: 1vw;
}

.bt {
    float: right;
    margin-right: 0vw;
    padding: 3vw;
}


.button {
    color: #fff;
    border: none;
    padding: 1vw 5vw;
    cursor: pointer;
    background-color: #00ffac;
}

.container {
    width: 100vw;
    height: 300vw;
    margin: 0 auto;
    padding: 2vw;
    max-width: 80vw;
    background-color: white;
    display: flex;


}

.cr {
    max-width: 10vw;
}