body, html{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
}

.grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100% 100% 100%; 
    grid-template-rows: 60px auto auto;
    grid-template-areas:
        "cab"
        "pag"
        "rod";
}

header{
    grid-area: cab;
    background-color: #9EFF8E;
}

section{
    grid-area: pag;
    background-color: #D2FFD1;
    font-family: sans-serif;
}

footer{
    grid-area: rod;
    background-color: #389A48;
}

.logo {
    max-width: 130px;
}